<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.zanclus.opennms"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".OpenNMSActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:enabled="true" android:windowSoftInputMode="stateHidden" android:screenOrientation="sensor" android:name=".activities.OutagesActivity" android:launchMode="singleInstance"></activity>
        <activity android:name=".activities.AlarmsActivity"></activity>
        <activity android:name=".activities.NotificationsActivity"></activity>
        <activity android:name=".activities.EventsActivity"></activity>
        <activity android:name=".activities.AcknowledgmentsActivity"></activity>
        <activity android:name=".activities.NodesActivity"></activity>

    </application>
</manifest>